RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
#remove php extention
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
#http --> https
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://admin.apnas.in/$1 [R,L]

#404 Page Rediraction
ErrorDocument 404 /login
#default Index page
DirectoryIndex /login.php